@media screen and (min-width:0) {
    /* Cabeçalho */
    .cabecalho {
        justify-content: center;
        padding: 0 1rem;
    } 
    
    .cabecalhoLogo {
        display: none;
    }

    /* Banner */
    .bannerImagem {
        height: calc(100vh - 51px);
    }

    .bannerTitulo {
        font-size: 3rem;
    }

    /* Sobre */
    .sobre {
        padding: 2.5rem 1rem;
    }

    .sobreTitulo {
        font-size: 2rem;
    }

    .sobreDescricao {
        font-size: 1.3rem;
    }

    /* Receitas */
    .receitas {
     padding: 5rem 0 0 1rem;   
    }

    .receita {
        margin-right: 1rem;
        width: 100%;
    }

    /* Pessoas */
    .pessoas {
        flex-direction: column;
    }

    .pessoa {
        margin-bottom: 2rem;
    }

    /* Rodape */
    .rodape {
        text-align: center;
    }
}

@media screen and (min-width:768px) {
    /* Cabeçalho */
    .cabecalho {
        justify-content: space-between;
        padding: 0 5rem;
    }

    .cabecalhoLogo {
        display: block;
    }

    /* Banner */
    .bannerImagem {
        height: calc(100vh - 72px);
    }

    .bannerTitulo {
        font-size: 5.06rem;
    }

    /* Sobre */
    .sobre {
        padding: 2.5rem;
    }

    .sobreTitulo {
        font-size: 3.18rem;
    }

    .sobreDescricao {
        font-size: 1.75rem;
    }

    /* Receitas */
    .receitas {
        padding: 5rem 0 0 2.5rem;
    }

    .receita {
        margin-right: 2.5rem;
        width: calc(33.33% - 2.5rem);
    }

    /* Pessoas */
    .pessoas {
        flex-direction: row;
    }

    .pessoa {
        margin-bottom: 0;
    }

    /* Rodape */
    .rodape {
        text-align: right;
    }
}

@media screen and (max-width: 992) {
    /* Receitas */
    .receitas {
        padding: 5rem 0 0 5rem;
    }

    .receita {
        margin-right: 5rem;
        width: calc(25% - 5rem);
    }
}